{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
<!DOCTYPE html>


{% block title %}
  Акции
{% endblock %}

{% block content %}
<a href="http://online-letters.ru/" target="_blank"><img src="http://x-lines.ru/letters/i/cyrillicbasic/0001/47b3e6/26/0/4nt7dyqoz9emmwf34gbpbpjy4n57bcgozmembwfz4napdysttoodgegozzembwft4n9pdygosyog4amdcf3g65uurdem9wf6rdeapwfi4n67bpjy4n4pbcstoxeakejy.png" border="0" /></a>
<a href="http://online-letters.ru/" target="_blank"><img src="http://x-lines.ru/letters/i/cyrillicbasic/0001/47b3e6/26/0/4nx7dygozyopbxstouem7wcy4n6pbq6oszem5wfa4nhnbwfz4napbqsosdemxwfordeanebtgwzdycbpgrhnhcbordeadwf44nhpbpgozmemyegozzemyegosmeadwfirdemjwfi4gy7bpqtodeafwcmry3dyjjq.png" border="0" /></a>
<a href="http://online-letters.ru/" target="_blank"><img src="http://x-lines.ru/letters/i/cyrillicbasic/0001/47b3e6/26/0/4nx7dygozyopbxsoz9eafwf64n3pbxsozoopbp6osdemiwfo4n57bpjcryopbqsosdempwfw4napdd3ygws7dd3y4n47bpgozdem5wfa4gdpbcby4n97bxty4gdpbpqozzemkebigy11h.png" border="0" /></a>
{% endblock %}
