{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
<!DOCTYPE html>


{% block title %}
  Главная
{% endblock %}

{% block content %}
<h1>Новинки</h1>


<div id="myCarousel" class="carousel slide" data-interval="1500" data-ride="carousel" data-type="multi" >
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <center><img src="{% static 'index/ds_01.jpg' %}" alt="pic" class="img-responsive carousel-img"></center>
      </div>

      <div class="item">
        <center><img src="{% static 'index/ds_02.jpeg' %}" alt="pic" class="img-responsive carousel-img"></center>
      </div>

      <div class="item">
        <center><img src="{% static 'index/ds_03.jpg' %}" alt="pic" class="img-responsive carousel-img"></center>
      </div>

      <div class="item">
        <center><img src="{% static 'index/ds_04.jpg' %}" alt="pic" class="img-responsive carousel-img"></center>
      </div>

      <div class="item">
        <center><img src="{% static 'index/ds_05.jpg' %}" alt="pic" class="img-responsive carousel-img"></center>

      </div>


      <!-- Left and right controls -->
      <a class="left carousel-control nopadding" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <!--<span class="sr-only">Previous</span> -->
      </a>

      <a class="right carousel-control nopadding" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <!--<span class="sr-only">Next</span> -->
      </a>

    </div>
  </div>
{% endblock %}
