{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
<!DOCTYPE html>


{% block title %}
  Инфо
{% endblock %}

{% block content %}

<a href="http://online-letters.ru/" target="_blank"><img src="http://x-lines.ru/letters/i/cyrillicbasic/0001/47b3e6/24/0/4njnbwf74napdngoszemaegozdeadwf94n9pbq6ozzemmwf74nhpbqby4n7pbcgos5emjwcm4nh1bwfw4n47dyqoszeabwcnrdtebfby.png" border="0" /></a>
<a href="http://online-letters.ru/" target="_blank"><img src="http://x-lines.ru/letters/i/cyrillicbasic/0001/47b3e6/24/0/rdea5wcn4n9nbwfh4napbq6oszem5wcc4n7pbxsoswopbx6todem7wfa4n57bcsoszemjwfi4n67bqgoswopbqgto8emiwcd4gy7dyqtomemfwfofa.png" border="0" /></a>
<a href="http://online-letters.ru/" target="_blank"><img src="http://x-lines.ru/letters/i/cyrillicbasic/0001/51b3db/14/0/ejs8k3kdcfiskw5ep7an4egtoxempwfirdem5wfirdem9wcy4n9pdyqtomemhegnixemxwfo4n3pbcgtodem5wf64n41bwf94n9nbwru4nxpbeqowmea8oi5foopbcby4n67bpqto9eafwf6rdem3wf64n4pbxqoz5emkmby4g87dygozmem7wfirdemoedpqi3zemmfcf4nh.png" border="0" /></a>
<a href="http://online-letters.ru/" target="_blank"><img src="http://x-lines.ru/letters/i/cyrillicbasic/0001/51b3db/14/0/4ntpbpqoz9emmwcy4ggnbwf44napbpsosueazwf3rdemtwfzrdemfwfo4gy1bwfh4n9pbpsoszearegoz9em7wcy4napbpgoz5emfwfo4gbpddby4gy7bpqos8ea6egozyopdyqosmem7wfa4gn1bwft4n77bqgos9emiwfa4gn1bwcp4gbpbqgozoopbqgos9eazwcb4n7pbcgozzem5wcm4n6nbwf54napbqsoz5em3wcb4gbpbcsoz5emamy.png" border="0" /></a>
<a href="http://online-letters.ru/" target="_blank"><img src="http://x-lines.ru/letters/i/cyrillicbasic/0001/47b3e6/14/0/rdemfwf44gb7dyjy4n7pbxstomem7wcy4n9pbc6ozaopbxsto8eafwfo4n67bpqtomeadwcxrdeanegosmembwfh4nhnbwf74napbcsto8emmwfu4n4pbcbbry.png" border="0" /></a>
{% endblock %}
